

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"style="padding-top:15px">
                <div class="card">
                    <form #mainCategoryForm="ngForm">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Main Category </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                           
                                
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Main Category Name " [(ngModel)]="mainCategory.CategoryName" #MainCategoryNameControl="ngModel" name="CategoryName" class="example-full-width" type="text" required onkeypress="return (event.charCode > 64 && 
                                    event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="MainCategoryDescription" [(ngModel)]="mainCategory.CategoryDescription" #MainCategoryDescriptionControl="ngModel" name="CategoryDescription" class="example-full-width" type="text" required></textarea>
                                    </mat-form-field>
                                </div>
                              
                                
                            
                                <div class="col-md-6">
                                    <label for="avatar">Upload Main Category Image1 :</label>

                                    <input type="file" [(ngModel)]="mainCategory.MainCategoryImage1"  (change)="fileChangeEvent($event)" #MainCategoryImage1Control="ngModel" id="avatar" name="MainCategoryImage1" accept="image/png, image/jpeg" required>

                                </div> 
                                <div class="col-md-6">
                                    <label for="avatar">Upload Main Category Image1 :</label>

                                    <input type="file" [(ngModel)]="mainCategory.MainCategoryImage2"  (change)="fileChangeEvent($event)" #MainCategoryImage2Control="ngModel" id="avatar" name="MainCategoryImage2" accept="image/png, image/jpeg" required>

                                </div> 

                              
                            </div>
                            <br>
                            <div class="row"style="margin:auto">
                                <div class="col-md-5"></div>

                                <button mat-raised-button type="submit" class="btn btn-danger" [disabled]="mainCategoryForm.invalid" (click)="OnSubmit()">Submit</button>
                                <div class="clearfix"></div>

                                <div class="col-md-2"></div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


