.table_table-bordered {
    border: 2px solid black;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #56789621;
}

.th,
td {
    border: 1px solid black;
}

.thh {
    color: #4554A4 !important;
}

.titlecolor th {
    color: #2b2626;
    font-size: 15px;
    font-weight: 500;
    text-align: -webkit-center !important;
    background-color: whitesmoke;
}

.card-title {
    text-align: center;
}

.fw-btn-fill {
    padding-right: 41px;
    /* margin-left: 10px; */
}