<!-- <div class="main-div">
<div class="main-content">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6"style="padding-top:45px">
                <div class="card">
                    <form #signUpForm="ngForm">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Sign In</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Id" [(ngModel)]="login.UserName" name="UserName" #username="ngModel" type="text" required>
                                    </mat-form-field>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" [(ngModel)]="login.Password" name="Password" #password="ngModel" class="example-full-width" type="password" required>
                                    </mat-form-field>
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4" style="text-align: center;">

                                    <button mat-raised-button type="submit" class="btn btn-danger pulright" [disabled]="signUpForm.invalid" (click)="OnSubmit()">Login</button>
                                  
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <a routerLink="/OTP" routerLinkActive="active"class="forgotpassword"> Forgot Password </a>
                            </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</div>
</div> -->

<!--  -->


<div id="logreg-forms">
    <form class="form-signin" #signInForm="ngForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR  </p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address Or Mobile Number" [(ngModel)]="login.Email" name="Email" #email="ngModel" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="login.Password" name="Password" #password="ngModel"  required="">
        
        <button class="btn btn-success btn-block" type="submit" [disabled]="signInForm.invalid" (click)="OnSubmitt()"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <a href="" id="forgot_pswd">Forgot password?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>

        <form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        
        <!-- <form action="/signup/" class="form-signup">   -->
            <br><br>
            <form class="form-signup" #registrationForm="ngForm">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>
            
            <p style="text-align:center">OR</p>

            <input type="text" id="user-name" class="form-control" placeholder="Full name" [(ngModel)]="registration.Name" #NameControl="ngModel" name="Name"    onkeypress="return (event.charCode > 64 && 
            event.charCode < 91 ) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)" required="" autofocus="">
           
           <input type="email" id="user-email" class="form-control" placeholder="Email address" [(ngModel)]="registration.Email" #EmailControl="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="Email"  required autofocus="">
            <div class="help-block" *ngIf=" EmailControl.errors?.pattern && EmailControl.touched ">Email is invalid</div>

            <input type="number" id="user-contact" class="form-control" placeholder="Mobile Number" [(ngModel)]="registration.Mobile" #MobileControl="ngModel" onKeyPress="if(this.value.length==10) return false;" name="Mobile" required autofocus="">
            <div class="help-block" *ngIf=" MobileControl.touched && MobileControl.errors?.pattern ">Mobile number is invalid</div>

            <input type="password" id="user-pass" class="form-control" placeholder="Password" [(ngModel)]="registration.Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" name="Password" #passwordControl="ngModel" required autofocus="">
            <div class="help-block" *ngIf=" passwordControl.errors?.pattern && passwordControl.touched ">Password is invalid</div>
            
            <!-- <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus=""> -->

            <button class="btn btn-primary btn-block" type="submit" [disabled]="registrationForm.invalid" (click)="OnSubmit()"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        <br>
        
</div>
<p style="text-align:center">
    <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
e.preventDefault();
$('#logreg-forms .form-signin').toggle() // display:block or none
$('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
e.preventDefault();
$('#logreg-forms .form-signin').toggle(); // display:block or none
$('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
// Login Register Form
$('#logreg-forms #forgot_pswd').click(toggleResetPswd);
$('#logreg-forms #cancel_reset').click(toggleResetPswd);
$('#logreg-forms #btn-signup').click(toggleSignUp);
$('#logreg-forms #cancel_signup').click(toggleSignUp);
})g" target="_blank" style="color:black">By Prism IT Services</a>
</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/script.js"></script>
