<!-- <div id="map"></div> -->

<!--Neqw Code-->



<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Today</h4>
                        <p class="card-category">Total collection :</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">

                            <tbody>
                                <tr>
                                    <th scope="row">Member Name </th>
                                    <td>Mark</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mobile Number</th>
                                    <td>1234567890</td>

                                </tr>


                                <tr>
                                    <th scope="row">Fees</th>
                                    <td>30000</td>
                                </tr>

                                <tr>
                                    <th scope="row">Paid Amount</th>
                                    <td>3000</td>
                                </tr>

                                <tr>
                                    <th scope="row">Unpaid amount</th>
                                    <td>27000</td>
                                </tr>

                                <tr>
                                    <th scope="row">Purchase Date</th>
                                    <td>6 Jan 20</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>