<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Investor Details</h4>
                  </div>
                  <div class="card-body">
                      <div class="card">
                          <div class="row">
                      <div class="col-md-3">
                          <!-- <div class="col-md-6"> -->
                             <div class="text-center">
                                  <img src="../../assets/img/faces/marc.jpg" class="rounded" alt="marc" height="157px" width="auto">
                                </div>                        
                         <!-- <img src="../../assets/img/marc.jpg" alt="Paris" style="width:150px"> -->
            
                      </div>
                      <div class="col-md-9" style="padding-left: 42px;">
                          <!-- <table class="table text-nowrap">
                              <tbody>
                                  <tr>
                                      <td>Name:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.FName}}&nbsp;{{investordetails.LName}}</td>
                                  </tr>
                                  <tr>
                                      <td>Address:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.Address}}</td>
                                  </tr>
                                  <tr>
                                      <td>City:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.City.CityName}}</td>
                                      <td>State:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.State.StateName}}</td>
                                  </tr>
                                 <tr>
                                      <td>State:</td>
                                      <td class="font-medium text-dark-medium">{{addTeacher.JoiningDate}}</td>
                                  </tr> -->
                                  <!-- <tr>
                                      <td>Email:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.Email}}</td>
                                      <td>Mobile:</td>
                                      <td class="font-medium text-dark-medium">{{investordetails.Mobile}}</td>
                                  </tr>
                                </tbody>  
                          </table> --> 

                      </div>

                  </div>
                     
                 
                  </div>
                  <!-- <div class="card">
                      <div class="row">
                          <div class="col-md-6">
                              <table class="table text-nowrap">
                                  <tbody>
                                    
                                      <tr>
                                          <td>List of Applied Franchise Details:</td>
                                          <td class="font-medium text-dark-medium">{{investordetails.Franchisedetails.BrandName}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div> -->
               
                  </div>
              </div>
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
</div>
<!-- <Script>
  $('.alphaonly').bind('keyup blur', function() {
      var node = $(this);
      node.val(node.val().replace(/[^a-z ]/g, ''));
  });
</Script> -->