<p>workout-type-list works!</p>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12"style="padding-top:13px">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Workout Types</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                           
                    
                          
                                     <div class="col-md-6">
                                        <input name="SearchText" type="text" placeholder="Search by FirstName ..." [(ngModel)]="SearchText" class="form-control" >
                                       
                                     </div>
                                     <div class="col-md-6 btn1">
                                        <button type="submit" class="serchlist" (click)="Serach()">Search</button>
                                  
                                        <button type="submit" class="resetlist" (click)="Reset()">Reset</button>
                                    </div>
                                
                       
                        </div>

                        <form #orgTypeForm="ngForm">
                            <div class="row">
                                <div class="card">
                                <div class="col-md-12">
                            
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thh">
                                                <tr class="titlecolor">
                                                
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                    <!-- <th>Delete</th> -->

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let i of workoutTypeList">
                                                    
                                                    <td>{{i.Name}}</td>
                                                    <td>{{i.Description}}</td>
                                                    <td>{{i.Status}}</td>

                                                    <td ><i class="fa fa-pencil" (click)="Edit(i.Id)"   style="cursor: pointer; color: green;  font-size: 20px;  margin-right: 15px;"  aria-hidden="true" ></i> 
                                                        <i class="fa fa-trash"(click)="Delete(i.Id)" style="cursor: pointer;   color:  rgb(199, 56, 5); font-size: 20px;"   aria-hidden="true" ></i></td> 

                                                    <!-- <td (click)="Edit(i.Id)" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 7px;"></i>Edit</td>
                                                    <td (click)="Delete(i.Id)" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true" style="margin-right: 7px;"></i>Delete</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


