<p>user-plan-detail-list works!</p>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-12"style="padding-top:20px">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">User Subscription Detail List</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form #orgTypeForm="ngForm">

                            <div class="row">
                                <div class="col-md-12">
                                  <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="From Date" [(ngModel)]="StartDate1" #StartDate="ngModel" type="date" name="StartDate" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="To Date" [(ngModel)]="EndDate1" #EndDate="ngModel" type="date" name="EndDate" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class=" btn btn-success serchlist" (click)="Select()">Select</button>
                                        </div>
                                      </div>
                                     <div class="row">
                                         <div class="col-md-6">
                                            <input name="SearchText" type="text" placeholder="Search by User Name ..." [(ngModel)]="SearchText" class="form-control" >
                                           
                                         </div>
                                         <div class="col-md-3">
                                            <button type="submit" class="btn btn-success   serchlist" (click)="Serach()">SEARCH</button>
                                        </div>
                                         <div class="col-md-3">
                                            <button type="submit" class="btn btn-success     fw-btn-fill btn-gradient-yellow" (click)="Reset()">RESET</button>
                                        </div>
                                     </div>
                                  </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
    


                            <div class="row">
                                <div class="card">
                                <div class="col-md-12">
                                  
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thh">
                                                <tr class="titlecolor">
                                                    <!-- <th>Id</th> -->
                                                    <th>Member ID</th>
                                                    <th>Member Name</th>
                                                    <th>Plan Detail</th>
                                                    <th>Price</th>
                                                    <th>Duration</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Status</th>
                                                    <th>Payment</th>
                                                    <th>Action</th>
                                                    <!-- <th>Delete</th> -->

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let i of userPlanDetailList">
                                                    <!-- <td>{{i.Id}}</td> -->
                                                    <td>{{i.Member.Id}}</td>
                                                    <td>{{i.Member.UserName}}</td>
                                                    <td>{{i.MembershipPlan.Title}}</td>
                                                    <td>{{i.MembershipPlan.Price}}</td>
                                                    <td>{{i.MembershipPlan.Period}}</td>
                                                    <td>{{i.StartDate}}</td>
                                                    <td>{{i.EndDate}}</td>
                                                    <td>{{i.Status}}</td>
                                                    <td (click)="Payment(i.Member.Id)" style="cursor: pointer;"><i class="fa fa-inr" aria-hidden="true" ></i> <span class="pay">Payment</span></td>

                                                    <td ><i class="fa fa-pencil" (click)="Edit(i.Id)"   style="cursor: pointer; color: green;  font-size: 20px;  margin-right: 15px;"  aria-hidden="true" ></i> 
                                                        <i class="fa fa-trash"(click)="Delete(i.Id)" style="cursor: pointer;   color:  rgb(199, 56, 5); font-size: 20px;"   aria-hidden="true" ></i></td> 

                                                    <!-- <td (click)="Edit(i.Member.Id)" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 7px;"></i>Edit</td>
                                                    <td (click)="Delete(i.Id)" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true" style="margin-right: 7px;"></i>Delete</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
