<p>instructor-list works!</p>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-12"style="padding-top:13px">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Instructors</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                        
                          
                               
                                        <div class="col-md-6">
                                            <input name="SearchText" type="text" placeholder="Search by FirstName ..." [(ngModel)]="SearchText" class="form-control">

                                        </div>
                                        <div class="col-md-6 btn1" >
                                            <button type="submit" class="serchlist" (click)="Serach()">Search</button>
                                       
                                            <button type="submit" class="resetlist" (click)="Reset()">Reset</button>
                                        </div>
                           
                               
                           
                        </div>

                        <form #orgTypeForm="ngForm">
                            <div class="row">
                                <div class="card">
                                    <div class="col-md-12">
                                  
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="thh">
                                                    <tr class="titlecolor">
                                                         <th>Photo</th> 
                                                        <th>Name</th>
                                                        <!-- <th>DOB</th> -->
                                                        <th>Contact</th>
                                                        <th>Address</th>
                                                        <!-- <th>Email</th> -->
                                                        <th>Salary</th>
                                                        <!-- <th>Professional Details</th> -->
                                                        <!-- <th>Experience</th> -->
                                                        <th>Joining Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of instructorList">
                                                         <td>
                                                            <img src="{{imgPath}}Instructor/{{i.Photo}}" style="height: 80px;width: 80px;">
                                                        </td> 
                                                        <td>{{i.FirstName}} {{i.LastName}}</td>
                                                        <td>{{i.Mobile}}</td>
                                                        <td>{{i.Address}}</td>
                                                        <td>{{i.Salary}}</td>
                                                        <!-- <td>{{i.ProfessionalDetails}}</td> -->
                                                      
                                                        <td>{{i.JoiningDate}}</td>
                                                        <td>{{i.Status}}</td>
                                                       
                                                        
                                                        <td > <i class="fa fa-eye"(click)="View(i.Id)" style="cursor: pointer;   color:  rgb(9, 97, 138); font-size: 20px; margin-right: 10px;"   aria-hidden="true" ></i>

                                                            <i class="fa fa-pencil" (click)="Edit(i.Id)"   style="cursor: pointer; color: green;  font-size: 20px;  margin-right: 10px;"  aria-hidden="true" ></i> 
                                                            <i class="fa fa-trash"(click)="Delete(i.Id)" style="cursor: pointer;   color:  rgb(199, 56, 5); font-size: 20px; margin-right: 10px;"   aria-hidden="true" ></i></td> 
                                                        <!-- <td (click)="Edit(i.Id)" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 7px;"></i>Edit</td>
                                                        <td (click)="Delete(i.Id)" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true" style="margin-right: 7px;"></i>Delete</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>