.table_table-bordered{
    border: 2px solid black;
  }
.table-bordered th, .table-bordered td {
    border: 1px solid black;
} 
.th,
td {
  border: 1px solid black;
}
.card-title{
  text-align: center;

}
.titlecolor th{
  color: #7b7777;;
  font-weight: 600;
}
