<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Organization Plan List</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                   
                            <div class="row">

                                <div class="col-md-12">                                
                                    <br>
                                    <div class="table-responsive">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr class="titlecolor">
                                            <th>Id</th>
                                            <th>Role</th>
                                            <th>Entry Date</th>
                                            <th>Status</th>

                                            <th>Edit</th>
                                            <th>Delete</th>
                                    
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let i of joblist">
                                            <td>{{i.JobId}}</td>
                                            <td>{{i.Role}}</td>
                                            <td>{{i.EntryDate}}</td>
                                            <td>{{i.Status}}</td>
                                          

                                           <td (click)="Edit(i.JobId)" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 7px;"></i>Edit</td>
                                            <td (click)="Delete(i.JobId)" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true" style="margin-right: 7px;"></i>Delete</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>                   
                                  </div>  
                                </div>  

                              
                            <div class="row">
                                <div class="col-md-12">
                                   
                                </div>
                            </div>


                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

