<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <!-- <div class="col-md-8"> -->
                        <!-- <div class="card typo"> -->
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Create SMS Template</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input class="Attribute" matInput placeholder="Title" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Subject" class="example-full-width" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" class="example-full-width" type="text">
                                    </mat-form-field>

                                    <!-- <textarea id="subject" name="subject" placeholder="Description."></textarea> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <p>All feilds are required. </p> -->
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-1">
                          
                                    <button mat-raised-button type="submit" class="btn btn-danger pulright">Save</button>
                                    <!-- <button mat-raised-button type="submit" class="btn btn-danger pulright">Cancel</button> -->
                            <div class="clearfix"></div>
                                 </div>
                            <div class="col-md-2"></div>
                            </div>

                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pulright">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button mat-raised-button type="submit" class="btn btn-danger pulright">Cancel</button>
                            <div class="clearfix"></div> -->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>